.widget-container {
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 10px;
  background-color: #f9f9f9;
  position: relative;
  max-width: 200px;
  max-height: 100px;
}

.widget-container h3 {
  margin-top: 0;
}

.remove-widget-btn {
  position: absolute;
  top: 5px;
  right: 5px;
  background: none;
  border: none;
  font-size: 18px;
  cursor: pointer;
  transition: color 0.3s ease;
}

.remove-widget-btn:hover {
  color: red;
}
